.grocery-page {
  .grocery-info {
    dd {
      margin-left: 70px;
    }
  }

  button {
    padding: 8px 12px;
    background-color: red;
    color: #ffffff;
  }

  .back-button {
    background-color: rgb(80, 80, 255);
  }
}
